<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title></title>
        <meta property="og:title" content="((TITLE))">
        <meta property="og:url" content="((URL))">
        <meta property="og:description" content="((DESCRIPTION))">
        <meta property="og:type" content="website">
        <meta property="og:image" content="((OG:IMAGE URL))">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/styles.css">
        <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="../assets/uswds/js/uswds-init.min.js"></script>
    <body>

        <!-- SITE WRAPPER - START -->
        <div class="site-wrapper">
            {% include "header-sub.html" %}
            
            <main>

                <section id="page--bios" class="usa-section small-padding padding-bottom-3">
                    <div class="grid-container">
                        <div class="grid-row tablet:grid-col-12 bio-card">
                            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-3 bio-card">
                                <img src="" alt="">
                            </div>
                            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-9 margin-bottom-5 padding-left-3 bio-card-attributes">
                                <h1 id="target" class="padding-bottom-0 margin-bottom-0"></h1>
                                <h3 class="padding-top-0 padding-bottom-0 margin-top-0 margin-bottom-1"></h3>
                                <h4 class="margin-top-0 margin-bottom-0 job"></h4>
                                <h4 class="margin-top-0 margin-bottom-0 office"></h4>
                            </div>
                        </div>
                        <div class="grid-row tablet:grid-col-12 bio-card-description">
                            <h4 class="font-body-lg margin-top-3 margin-bottom-1 project"></h4>
                            <p class="font-body-lg bio"></p>
                        </div>
                    </div>
                </section>

                <section id="page--news" class="usa-section small-padding padding-bottom-3">
                    <div class="grid-container">
                        <div class="grid-row">
                            <h1>
                                Their Work
                            </h1>
                        </div>
                        <div class="grid-row">
                            <div id="news-slider">
                                <div class="MS-content page-news--grid"></div>
                                <div class="MS-controls">
                                    <button class="MS-left"><</button>
                                    <button class="MS-right">></button>
                                </div>
                            </div>
                            <div class="news-items">
                                <div class="page-news--row grid-row"></div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>

            {% include "footer-sub.html" %}
            
        </div>
        <!-- SITE WRAPPER - END -->
        <script src="../assets/uswds/js/uswds.min.js"></script>
        <script src="../assets/js/vendors/lazy/jquery.lazy.min.js"></script>
        <script src="https://unpkg.com/mustache@latest"></script>
        <script src="../assets/js/mustache-fellows-render.js"></script>
        <script src="../assets/js/json-news-render.js"></script>
        <script src="../assets/js/vendors/multislider/multislider.min.js"></script>
        <script src="../assets/js/functions.js"></script>
    </body>
</html>