#page--bios .bio-card {
    font-family: sans-serif !important;

    img {
      border-radius: 10px;
    }
  
    h1 {
      color: #93348c !important;
    }

    h3 {
        font-size: clamp(1.25rem, 1.95vw, 1.75rem);
        line-height: 1.7;
    }

    h4 {
        font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", "sans-serif";
        font-size: clamp(1.125rem, 2vw, 1.55rem);
        font-weight: 500;
        position: relative !important;
        top: 10px !important;
    }

    p.project {
        font-weight: bold;;
    }
}
  